Source: libitpp
Priority: optional
Maintainer: Kumar Appaiah <akumar@ee.iitm.ac.in>
Build-Depends: debhelper (>= 5), autotools-dev, doxygen (>= 1.5.1-1), refblas3-dev (>= 1.2-9), fftw3-dev, texlive-latex-base, gs, lapack3-dev (>= 3.1.1-0.1), dpatch, gfortran
Standards-Version: 3.7.2
Section: libs
Homepage: http://itpp.sourceforge.net
Vcs-Git: git://git.debian.org/git/collab-maint/libitpp.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/libitpp.git

Package: libitpp-dev
Section: libdevel
Architecture: any
Depends: libitpp6gf (= ${binary:Version})
Description: C++ signal processing and communication library: Development headers
 IT++ is a C++ library of mathematical, signal processing, speech
 processing, and communications classes and functions. It is being
 developed and is widely used by researchers, both in the
 communications industry and universities.
 .
 This package has the development libraries and headers for IT++.

Package: libitpp6gf
Section: libs
Architecture: any
Conflicts: libitpp6
Replaces: libitpp6
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ signal processing and communication library
 IT++ is a C++ library of mathematical, signal processing, speech
 processing, and communications classes and functions. It is being
 developed and is widely used by researchers, both in the
 communications industry and universities.
 .
 This package has the debugging symbols for IT++ which may
 be useful while debugging IT++ based applications.

Package: libitpp6-dbg
Section: libs
Priority: extra
Architecture: any
Depends: libitpp6gf (= ${binary:Version})
Description: C++ signal processing and communication library: Debug symbols
 IT++ is a C++ library of mathematical, signal processing, speech
 processing, and communications classes and functions. It is being
 developed and is widely used by researchers, both in the
 communications industry and universities.
 .
 This package has the debugging symbols for IT++ which may
 be useful while debugging IT++ based applications.

Package: libitpp-doc
Section: doc
Architecture: all
Recommends: dwww, www-browser
Description: C++ signal processing and communication library: Documentation
 IT++ is a C++ library of mathematical, signal processing, speech
 processing, and communications classes and functions. It is being
 developed and is widely used by researchers, both in the
 communications industry and universities.
 .
 This package has the documentation for IT++.
