Source: libitpp
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Kumar Appaiah <akumar@debian.org>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), libblas-dev, libfftw3-dev, liblapack-dev, gfortran, libgtest-dev, cmake
Build-Depends-Indep: doxygen-latex, ghostscript
Section: libs
Homepage: http://itpp.sourceforge.net
Vcs-Git: git://anonscm.debian.org/debian-science/packages/libitpp.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/libitpp.git

Package: libitpp-dev
Section: libdevel
Architecture: any
Depends: libitpp8 (= ${binary:Version}), ${misc:Depends}
Description: C++ library of signal processing and communication routines: Headers
 IT++ is a C++ library of mathematical, signal processing and
 communication classes and functions. Its main use is in simulation of
 communication systems and for performing research in the area of
 communications. The kernel of the library consists of generic vector
 and matrix classes, and a set of accompanying routines. Such a kernel
 makes IT++ similar to MATLAB or GNU Octave .
 .
 This package has the development libraries and headers for IT++.

Package: libitpp8
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ library of signal processing and communication routines
 IT++ is a C++ library of mathematical, signal processing and
 communication classes and functions. Its main use is in simulation of
 communication systems and for performing research in the area of
 communications. The kernel of the library consists of generic vector
 and matrix classes, and a set of accompanying routines. Such a kernel
 makes IT++ similar to MATLAB or GNU Octave .

Package: libitpp8-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libitpp8 (= ${binary:Version}), ${misc:Depends}
Description: C++ library of signal processing and communication routines: Debug symbols
 IT++ is a C++ library of mathematical, signal processing and
 communication classes and functions. Its main use is in simulation of
 communication systems and for performing research in the area of
 communications. The kernel of the library consists of generic vector
 and matrix classes, and a set of accompanying routines. Such a kernel
 makes IT++ similar to MATLAB or GNU Octave .
 .
 This package has the debugging symbols for IT++ which may
 be useful while debugging IT++ based applications.

Package: libitpp-doc
Section: doc
Architecture: all
Suggests: dwww, www-browser
Depends: ${misc:Depends}, libjs-jquery
Description: C++ library of signal processing and communication routines: Documentation
 IT++ is a C++ library of mathematical, signal processing and
 communication classes and functions. Its main use is in simulation of
 communication systems and for performing research in the area of
 communications. The kernel of the library consists of generic vector
 and matrix classes, and a set of accompanying routines. Such a kernel
 makes IT++ similar to MATLAB or GNU Octave .
 .
 This package has the documentation for IT++.
