#!/usr/bin/make -f

%:
	dh $@ --parallel --builddirectory=build

override_dh_auto_configure:
	mkdir -p  build
	(cd  build && cmake .. -DCMAKE_INSTALL_PREFIX=../debian/tmp/usr -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DGTEST_DIR=/usr/src/gtest);
